h3 {
    margin: 30px 0;
}
p {
    padding-left: 30px;
}
.img-test {
    width: 300px;
    height: auto;
}
.bg-test {
    width: 700px;
    height: 500px;
    background: url('./a.jpg') no-repeat;
    background-size: 700px;
}
.test-style {
    color: red;
}